<article class="project">
  <div class="title">
    <h4>{{title}}</h2>
    <p>
      {{description}}
    </p>
  </div>
  <div class="meta">
    Published by {{user.username}} on {{format_date created_at}}
    |
    <a href="/project/{{id}}">{{contributions.length}} {{format_plural "Contribution" contributions.length}}</a>
  </div>
</article>