<h2 class = "text-center font-weight-bold">Project Details</h2>
{{#each this}}
  <section class = "text-center font-weight-bold text-primary">
    <h4>{{title}}</h4>
    <p>{{description}}</p>
  </section>
  <div class="row">
</div>
{{/each}}
{{#if loggedIn}}
<form class="contribution-form">
    <h2 class = "text-center font-weight-bold">Contribute to This Project</h2>
    <div class="form-group row">
      <label for="project-contributions">Select Contribution Type:</label>
      <select class="form-control" type="text" name="project-contributions" id="project-contributions" form="contributionForm">
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Node">Node</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="contribution-hours">Hours Spent on Contribution:</label>
      <input class="form-control" type="text" id="contribution-hours" name="contribution-hours">
    </div>
    <div class="form-group row">
        <label for="contribution-description">Contribution Description:</label>
        <textarea type="text" class="form-control" id="contribution-description" name="contribution-description" rows="3"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block font-weight-bold">Submit Contribution</button>
    </div>
</form>
<script src="/javascript/contribution.js"></script>
{{/if}}
<h2 class = "text-center font-weight-bold">Project Contributions</h2>
<div id="chartContainer" style="height: 370px; width: 100%;">
    {{!-- This is where chart goes --}}
</div>
{{#each this}}
  {{#each contributions}}
    <div class="col-sm-12">
      <li>
        {{user.username}} contributed to the project! |
        Contribution Type: {{this.contribution_type}}
        |
        Contribution Hours: {{this.contribution_hours}}
        |
        Contribution Description: {{this.contribution_description}}
      </li>
    </div>
  {{/each}}
{{/each}}

<script src="/javascript/newcontribution.js"></script>

<script>
window.onload = function () {
  var options = {
    animationEnabled: true,
    axisY: {
      title: "Hours Contributed"
    },
    axisX: {
      title: "Contribution Type"
    },
    data: [{
      type: "column",
      yValueFormatString: "#,##0.0#",
      dataPoints: [
        { label: "HTML", y: 10 },	
        { label: "CSS", y: 32 },	
        { label: "JavaScript", y: 48 },
        { label: "Node", y: 12 }
      ]
    }]
  };
  $("#chartContainer").CanvasJSChart(options);
}
</script>