{{#if loggedIn}}
<form class="contribution-form">
    <h2 class = "text-center font-weight-bold">Contribute to This Project</h2>
    <div class="form-group row">
      <label for="project-contributions">Select Contribution Type:</label>
      <select class="form-control" type="text" name="project-contributions" id="project-contributions" form="contributionForm">
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Node">Node</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="contribution-hours">Hours Spent on Contribution:</label>
      <input class="form-control" type="text" id="contribution-hours" name="contribution-hours">
    </div>
    <div class="form-group row">
        <label for="contribution-description">Contribution Description:</label>
        <textarea type="text" class="form-control" id="contribution-description" name="contribution-description" rows="3"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block font-weight-bold">Submit Contribution</button>
    </div>
</form>
<script src="/javascript/contribution.js"></script>
{{/if}}
<br>
<h2 class = "text-center font-weight-bold">Past Contributions</h2>
{{#each this}}
  <section class = "text-center font-weight-bold">
    <h3>{{title}}</h3>
    <h4>{{description}}</h4>
    <br>
  </section>
  <div class="row">
  {{#each contributions}}
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body text-black comment">
          <div class = "card-title"> 
            <h5 class = "text-center font-weight-bold">{{user.username}} contributed!</h5> 
          </div>
          <div class = "card-text">
            <p class = "font-weight-bold text-center">Contribution Type: {{this.contribution_type}}
              |
              Contribution Hours: {{this.contribution_hours}}
              |
              Contribution Description: {{this.contribution_description}}</p> 
          </div>
        </div>  
      </div>
    </div>
  {{/each}}
</div>
{{/each}}

<script src="/javascript/newcontribution.js"></script>